body, h2,h3,h4,h5,h6 {font-family: "Average", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
  hr {
     padding:25px 70px;  
    width:60vw;
    color:#000000;
  }
  a {
   text-decoration:none;
   color:#cc0000
  }
  a:hover {
    color:#ff0000 ;
  }
  
  p {
    font-size:20px;
  }
  
  #sidebar {
    font-size:16px;
  }
  h1 {
    font-family:'Great Vibes';
    font-size:44px;
  }

  #shout-out {
    color:#ffffff;
    font-size:22px;
  }